.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.container h1 {
    padding: 10px;
    text-align: center;
}

#log,
#state {
    height: 50px;
    width: 300px; 
    max-width: 500px;
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #ffa500;
    box-sizing: border-box; 
}

.button-conatiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 20px;
    box-sizing: border-box; 
    flex: 1 1 auto; 
    max-width: 200px; 
}

button:last-child {
    margin-right: 0; 
}

@media (max-width: 600px) {
    .container {
        width: 100%; 
        padding: 20px; 
    }

    .button-conatiner {
        flex-direction: column;
    }

    button {
        width: 100%; 
        margin-right: 0;
        margin-bottom: 10px; 
    }

    button:last-child {
        margin-bottom: 0; 
    }

    #log, #state {
        height: 50px;
        width: 177px;
        max-width: 500px;
        margin-top: 20px;
        border: 2px solid black;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        background-color: #ffa500;
        box-sizing: border-box;    
    }
}
